.inputDiv{
    display: flex;
    flex-direction: column;
    text-align: start;
    
}
.inputDiv label{
    font-size: 12.8px;
    font-weight: 500;
    margin: 0 0 3px 0;
}
.inputDiv input{
    border-style: solid;
    border-width: 1px;
    border-color: var(--text-muted);
    padding: 8px;
    border-radius: 3.5px;
    outline: none;
    font-size: 12px;
}
.inputDiv input::placeholder{
    font-size: 13px;
}